
/********** Colors **********/
$pink-color: #EE9591;
$dark-color:  #555555;
$text-color: #888888;
$white: #fff;


/********** Font **********/
$font-family: 'Roboto', sans-serif;

/********** Font Size **********/
$extra-smaller-font-size: 10px;
$smaller-font-size: 16px;
$middle-font-size: 40px;
$big-font-size:70px;

/********** Font weight **********/
$fw-regular: 400;
$fw-middle: 500;
$fw-bold: 700;
$fw-extra-bold: 900;


/********** Line Height **********/
$xxs-line-height: 22px;
$xs-line-height: 26px;
$s-line-height: 40px;
$m-line-height: 54px;
$l-line-height:80px;
