.main {
    padding-top: 10px;

    .left-wrapper {
        /* VOİCE */
        .voice {
            display: flex;
            background-color: purple;
            padding: 7px;
            .icon {
                padding-right: 10px;
                color: white;
            }

            .text {
                span {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    color: white;
                    font-size: 20px;
                }
            }
        }
        /* VOİCE LİST */
        .voice-list {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    border-bottom: 1px solid rgb(131, 128, 128);
                    padding: 5px;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    a {
                        font-size: 14px;
                        font-weight: 600;
                        color: black;
                        &:hover {
                            color: purple;
                        }
                    }
                }
            }
        }
        /* APPOİNTMENT */
        .appointment {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid purple;
            padding: 5px;
            .text {
                padding-left: 5px;
                padding-top: 5px;
                h6 {
                    color: purple;
                    font-size: 16px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
        /* NEWSLETTER */
        .newsletter {
            margin-top: 20px;
            .text {
                background-color: purple;
                padding: 10px;
                color: white;
                span{
                    font-size: 14px;
                }
            }
            form {
                background-color: #f3f1f1;
                padding: 10px;

                a {
                    margin-top: 10px;
                    background-color: purple;
                    color: white;
                    padding: 6px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 35px;
                    i {
                        padding-right: 10px;
                    }
                }
            }
        }
        /* DR.VOİCE */
        .dr-voice {
            margin-top: 20px;
            h6 {
                font-weight: 700;
                opacity: 0.8;
            }
            p {
                font-weight: 600;
                opacity: 0.8;
            }
        }
        /* CONTACT */
        .contact {
            h6 {
                margin-top: 15px;
                font-weight: 700;
                opacity: 0.8;
            }
            p {
                font-weight: 600;
                opacity: 0.8;
            }

            .social {
                margin-top: 20px;
                margin-bottom: 20px;
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: space-between;
                    li {
                        a {
                            background-color: purple;
                            color: white;
                            padding: 15px;
                        }
                    }
                }
            }
        }
    }

    .right-wrapper {
        position: relative;

        /* SLİDER TEXT */
        .carousel-item {
            position: relative;
            h5 {
                position: absolute;
                top: -90px;
                right: -150px;
                color: white;
                background-color: purple;
                padding-left: 85px;
                padding-right: 10px;
                font-size: 30px;
                clip-path: polygon(26% 0, 100% 0, 100% 100%, 17% 100%);
                width: 500px;
            }
            p {
                position: absolute;
                color: white;
                background-color: #f1a71a;
                padding-left: 85px;
                padding-right: 10px;
                font-size: 30px;
                clip-path: polygon(26% 0, 100% 0, 100% 100%, 17% 100%);
                top: -30px;
                right: -150px;
                width: 590px;
            }
        }
        /* SLİDER KONTROL BAR */
        .carousel-indicators {
            height: 30px;
            position: absolute;
            top: calc(100% + 5%);
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            .active {
                color: purple;
                background-color: purple;
            }
            button {
                width: 130px;
                height: 8px;
                background-color: #dde2e8;
                border: none;
            }
        }
        /* KOCAK TV */
        .kocak-tv {

            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .text {
                    span {
                        background-color: purple;
                        padding: 5px;
                        color: white;
                        font-size: 14px;
                    }
                }

                .nav-pills .nav-link.active{
                    background: none !important;
                    color: purple;
                    border-bottom: 1px solid purple;
                    border-radius: -100px;
    
                }
    
                .nav-pills .nav-link{
                    border-radius: 0;
                    display: flex;
                    font-size: 14px;
                    padding: 10px !important;
                }
    
                button{
                    color: black;
                    font-weight: 600;
                }

                .video-wrapper {

                    .text {
                        h6 {
                            font-size: 17px;
                            font-weight: 600;
                            color: purple;
                        }

                        p {
                            font-size: 13px;
                            font-weight: 600;
                            opacity: 0.8;
                        }
                    }

                    a {
                        background-color: #f1a71a;
                        padding: 7px;
                        color: white;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
            }

            .back-to-top{
                i{
                    color: #f1a71a;
                }
            }
        }
        /* BLOG */
        .blog {
            .blog-wrapper {
                padding-bottom: 10px;
                transition: 0.5s;
                &:hover {
                    cursor: pointer;
                    transform: scale(0.95);
                    transition: 0.5s;
                }
                .blog-image {
                    img {
                        width: 100%;
                    }
                }

                .blog-text {
                    h3 {
                        padding-top: 21px;
                        font-size: 18px;
                        color: purple;
                    }
                    p {
                        font-size: 12px;
                    }
                }

                a {
                    width: 120px;
                    height: 30px;
                    background-color: purple;
                    color: white;
                    padding: 10px;
                }
            }
        }
        /* OUR WESİTE */
        .our-website {
            .website-wrapper {
                position: relative;
                width: 195px;
                height: 115px;
                border: 1px solid #444444;
                display: flex;
                justify-content: center;
                align-items: center;
                p {
                }

                .visit {
                    position: absolute;
                    bottom: 0;
                    height: 30px;
                    width: 100%;
                    background-color: #444444;
                    display: flex;
                    justify-content: center;

                    p {
                        color: white;
                    }
                }
            }
        }
    }
}


/* MEDİA QUERİES */

@media (max-width: 1200px) { 
    .left-wrapper{
        .logo{
            display: flex;
            justify-content: center;
            img{
                width: 250px !important;
            }
        }
    }

    .siderbar{
        order: 2;
    }

    .nav-pills .nav-link{
        display: flex;
        font-size: 12px !important;
    }
 }